@import "tailwindcss";


:root {
  --primary-color: #013632;
  --primary-color-blue: #2563EB;
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
}
.bg-primary-blue {
  background-color: var(--primary-color-blue);
}

.text-primary-blue {
  color: var(--primary-color-blue);
}
